@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #01214ae7; 
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
    --contact-color: #0047ab;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    padding-top: 6rem; /* Adjust this value to match the height of your header */
    margin: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 9%; /* Adjust padding as needed */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #01214ae7;
    color: #ededed;
}
.heading{
    position: relative;
    font-size: 7rem;
    margin-bottom: 3rem;
    text-align: center;
}
span{
    color: #00abf0;
}

.logo {
    position: relative;
    font-size: 2.6rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar a {
    font-size: 2.3rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

#menu-icon {
    position: relative;
    font-size: 3.2rem;
    color: #ededed;
    cursor: pointer;
    display: none;
}

.section {
    padding: 6rem 9%; /* Adjust padding as needed */
    background-color: #112e42;
    color: #ededed;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust height for full viewport coverage */
    background-color: #01214ae7;
    color: #ededed
}


.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 6rem;
    background-color: #112e42;
    color: #ededed
}


.home-content {
    text-align: center; /* Aligns the text content to the center */
    position: relative;
    width: 32.8rem;
    margin: 0 auto;
    margin-top: 2rem; /* Add margin to separate from the header */
}

.text-animate h3 {
    font-size: 3.6rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px #00abf0;
    background-image: linear-gradient(#00abf0,#00abf0);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -33rem 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}

.text-animate h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid #00abf0;
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}

@keyframes homeBgText {
    to {
        background-position: 33rem 0;
    }
}

@keyframes homeCursorText {
    50% {
        border-color: transparent;
    }
}

.home-content {
    text-align: center;
    position: relative;
    width: 60rem;
    margin: 0 auto;
    margin-top: 2rem; /* Add margin to separate from the header */
}

.home-content p {
    text-align: center;
    font-size: 3.5rem;
    color: #ededed;
    margin-bottom: 2rem; /* Adjust margin as needed */
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: center; /* Add space between buttons */
    margin-top: 2rem; /* Adjust margin as needed */
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px; /* Increase button width */
    height: 80px; /* Increase button height */
    background: transparent;
    font-size: 80px; /* Increase font size */
    color: #00abf0;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 30px;
}

.btn-box a:hover {
    color: #01214ae7;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: 0.5s;
}

.btn-box a:hover:before {
    width: 100%;
}

.btn-box a i {
    font-size: 4.9rem;
    color: #00abf0;
    transition: .5s;
}

.btn-box a:hover i {
    color: #112e42;
}

.btn-box a:hover:before {
    width: 100%;
}

.home-sci{
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}
.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home-sci a:hover {
    color: #01214ae7;
}
.home-sci a::before {
    content: '';
    position: absolute;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: 0.5s;
}
.home-sci a:hover:before{
    width: 100%;
}
.home-sci a i {
    font-size: 3.5rem;
    color: #00abf0;
    transition: .5s;
}
.home-sci a:hover i {
    color: #112e42;
}
.home-sci a:hover:before ,
.contact form .btn-box .btn:hover::before{
    width: 100%;
}

.heading{
    position: relative;
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.about-img {
    position: relative;
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure image doesn't overflow */
}

.about-img img {
    position: absolute;
    width: 100%; /* Start with full width */
    height: auto;
    border-radius: 40%;
    transition: transform 0.5s ease; /* Smooth transition for zoom animation */
}

/* Keyframe animation for zooming in */
@keyframes zoomIn {
    from {
        transform: scale(1); /* Start with normal size */
    }
    to {
        transform: scale(1.2); /* Zoom in to 120% of original size */
    }
}

/* Keyframe animation for zooming out */
@keyframes zoomOut {
    from {
        transform: scale(1.2); /* Start with zoomed-in size */
    }
    to {
        transform: scale(1); /* Zoom out to normal size */
    }
}

/* Apply zoom-in animation on hover */
.about-img:hover img {
    animation: zoomIn 0.5s forwards; /* Run zoomIn animation on hover */
}

/* Apply zoom-out animation when not hovering */
.about-img:not(:hover) img {
    animation: zoomOut 0.5s forwards; /* Run zoomOut animation when not hovering */
}

.about-content{
    
    width: 55rem;
}
.about-content h3{
    font-size: 4rem;
    color: #00abf0;
}
.about-content p{
    font-size: 1.8rem;
    color: #ededed;
    margin: 2rem 0 3rem;
}
.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
    background-color: #01214ae7;
    color: #ededed;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
}

.education-row .education-column,
.education-row .experience-column {
    flex: 50rem 50rem; 
    max-width: 55rem; 
}

.education-column .title,
.experience-column .title {
    font-size: 3.1rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
    border-right: .2rem solid #00abf0;
}

.experience-column .education-box {
    border-left: .2rem solid #00abf0;
}
.education-column .education-content:nth-child(2){
    margin-top: 33rem;
}
.experience-column .education-content:nth-child(1){
    margin-top: 25rem;
}
.experience-column .education-content:nth-child(2){
    margin-top: 33rem;
} 

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}
.education-box .education-content::before{
    content: "";
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: #00abf0;
    border-radius: 50%;
}
.education-column .education-box .education-content::before{
    content: "";
    position: absolute;
    top: 0;
    left: 98.5%;
    width: 2rem;
    height: 2rem;
    background: #00abf0;
    border-radius: 50%;
}
.education-content .content {
    position: relative;
    padding: 1.5rem;
    margin-bottom: 3rem;
    overflow: hidden;
}
.education-content .content::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background: #112e42;
    z-index: -1;
}
.education-content .content:hover:before{
    width: 100%;
}
.education-content .content .year{
    font-size: 1.9rem;
    color: #00abf0;
    padding-bottom: .5rem;
}
.education-content .content .year i{
    padding-right: .7rem;
}
.education-content .content h3{
    font-size: 2.2rem;
}
.skills{
    height: 100vh;
}
.skills .box-container .box .image {
    height: 12rem;
    width: 19.5rem;
    overflow: hidden;
    position: relative;
    margin-left: 2rem;
  }
  
  .skills .box-container {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 8rem;
    margin-top: 4rem;
  }
  .skills .box-container .box {
    background-color: #01214ae7;
    padding: 2rem;
  }
 
  .skill .box-container .box .image .content {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #00abf0;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
  }
  .skills .box-container .box .image .content h3 {
    font-size: 2.5rem;
    color: #00abf0;
    text-transform: uppercase;
  }
  .title{
    color: var(--text-color);
    text-align: center;
    font-size: 4rem;
  }
  .pie-chart {
    width: 100px; /* Adjust the width of the pie chart */
    height: 100px; /* Adjust the height of the pie chart */
    position: relative;
    border-radius: 50%; /* Create a circular shape */
    overflow: hidden;
  }
  
  .slice {
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(0, 50px, 100px, 0); /* Adjust clip for each slice */
  }
  
  .slice1 {
    background-color: var(--second-bg-color); /* Color for slice 1 */
    transform: rotate(45deg); /* Rotate slice 1 to start from 0 degrees */
  }
  
  .slice2 {
    background-color: var(--second-bg-color); /* Color for slice 2 */
    transform: rotate(90deg); /* Rotate slice 2 to start from 0 degrees */
  }
  